<app-global-error></app-global-error>

<app-navigation></app-navigation>

<div class=" container  text-amber-900 font-serif mx-auto pt-1 max-w-2xl">
  <h1 class="font-bold mb-3 text-amber-900 text-center">{{title | uppercase}}</h1>
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
  <router-outlet></router-outlet>
</div>
